<?xml version="1.0" encoding="UTF-8"?>

<suite name="seleniumProject" parallel="tests" thread-count="2">
	
	<listeners>
		<listener class-name="com.seleniumProject.utilities.ExtentReportManager"/>
	</listeners>
	
	<test name="chromeTest">
		<parameter name="browser" value="chrome"/>
		<classes>
		<class name="com.seleniumProject.testCases.TC_LoginTest_001" />
		</classes>
	</test>
	

	
</suite>